.logo {
    background-image: url('/static/assets/PalletSpace.png');
    background-repeat: no-repeat;
    /* center the background image inside the element */
    background-position: center center;
    background-size: contain;
    /* ensure the element can be centered horizontally */
    display: block;
    margin: 0 auto;
    /* flexible sizing so it fits and centers inside narrow sidebars */
    width: 100%;
    max-width: 220px;
    height: 80px; /* tweak height as needed to match the image aspect */
}
.webix_view.webix_toolbar.webix_layout_toolbar{
    background-color: #dadada !important;
}

.sidebar-bg{
    background-color: #1b4974;
    justify-content: center;
    align-items: center;
}


.webix_sidebar .webix_sidebar_icon {
    width: 20px;
    vertical-align: middle;
}

.webix_sidebar .webix_list_item {
    padding-left: 15px !important; 
}

.webix_sidebar .webix_tree_item.webix_selected .webix_sidebar_icon, .webix_sidebar .webix_tree_item.webix_sidebar_selected .webix_sidebar_icon, .webix_sidebar .webix_tree_item.webix_selected .webix_sidebar_dir_icon, .webix_sidebar .webix_tree_item.webix_sidebar_selected .webix_sidebar_dir_icon {
    color: #fda31c;
}

.webix_sidebar.webix_sidebar_left .webix_tree_item.webix_sidebar_selected + .webix_tree_leaves .webix_tree_item, .webix_sidebar.webix_sidebar_left .webix_tree_item.webix_selected, .webix_sidebar.webix_sidebar_left .webix_tree_item.webix_sidebar_selected {
    box-shadow: inset 2px 0 #fda31c;
}

.webix_sidebar_popup .webix_sidebar_popup_title.webix_selected {
    color: #fda31c;
    font-weight: 500;
}

.loginLogo {
    background-image:url('/static/assets/PalletSpace.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.webix_primary .webix_button {
    background: #14406c !important;
    color: #FFFFFF;
}

.webix_button:hover{
    background: #fda31c !important;
}

.webix_button:active{
    background: #b67513 !important;
}

.webix_el_search input{
    border-color:#1b4974;
}

.webix_secondary .webix_button {
    color:#14406c !important;
}

.webix_alert .webix_popup_title, .webix_confirm .webix_popup_title, .webix_prompt .webix_popup_title, .webix_alert .webix_popup_text, .webix_confirm .webix_popup_text, .webix_prompt .webix_popup_text {
    box-shadow: inset 0 4px #1b4974;
}

.webix_popup_button.confirm {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    outline: none;
    background: #14406c;
    color: #FFFFFF;
}

.webix_popup_button.confirm:active {
    background: #b67513;
    color: #FFFFFF;
}

.webix_popup_button.confirm:hover {
    background: #fda31c;
    color: #FFFFFF;
}

.webix_popup_button.confirm:focus {
    background: #14406c;
    color: #FFFFFF;
}

.webix_popup_button {
    font-size: 14px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0px;
    background: #F4F5F9;
    color: #14406c;
    outline: none;
}

.webix_checkbox_1 .webix_custom_checkbox {
    color: #14406c;
}

.webix_dtable .webix_ss_header .webix_hcolumn div.webix_last_row, .webix_dtable .webix_ss_header .webix_span.webix_last_row {
    border-bottom: 2px solid #14406c;
}

.webix_dtable div.webix_ss_vscroll_header {
    border-bottom:2px solid #14406c;
}

.webix_el_text input:focus{
    border-color: #14406c !important;
}

.webix_el_richselect .webix_inp_static:focus{
    border-color: #14406c !important;
}

.webix_list_item.webix_selected {
    box-shadow: inset 2px 0 #14406c;
}

.management-btn{
    background-color: #14406c;
    background-image:url('/static/assets/plus.svg');
    background-position: center;
    background-size: cover;
    color:white;
}


.helpBtnCss{
    background-image: url('/static/assets/management-users/help-circle.svg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}